.signup-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Rounder edges for the container */
    background: linear-gradient(135deg, #8cceb6 0%, #56a3e0 100%)
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px; /* More rounded edges */
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .signup-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 30px; /* More rounded edges */
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: #0056b3;
  }
  